.main-content.side-content {
  transition: margin-left 0.3s ease;
}
.sidemenu-label {
  transition: margin-left 0.45s ease;
}
.side-menu .nav-link:hover {
  color: #03A1EF;
}
.side-menu .nav-link:hover .sidemenu-label {
  margin-left: 5px;
  transition: margin-left 0.45s ease;
  color: #03A1EF;
}
.side-menu .nav-item {
  transition-duration: 0.25s;
  margin: 6px 0;
}
.side-menu .nav-sub {
  max-height: 0;
  overflow: hidden;
  transition: all 0.9s;
}
.side-menu .nav-item.show > .nav-sub {
  max-height: 100vh;
  transition: all 2s;
}
.side-menu .nav-sub-link {
  transition: all 0.25s;
}
.iconbtn {
  display: none;
}
.side-menu i.angle {
  transform-origin: center;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
}
.side-menu .nav-item.show i.angle {
  transform: rotate(90deg);
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
}
.main-sidebar-open.main-sidebar-hide .side-badge,
.side-badge {
  position: absolute;
  top: 12px;
  right: 18px;
  border-radius: 50px;
}
.main-sidebar-hide .side-badge {
  position: absolute;
  top: 0;
  right: 27px;
  border-radius: 50px;
  z-index: 4;
}
.sidemenu-logo {
  padding: 13.4px 21px;
  border-bottom: 1px solid #E7E7E7;
  justify-content: center;
  height: 80px;
}
.side-menu .header-brand-img {
  margin-top: 0 !important;
  outline: 0;
}
.sidemenu-height {
  min-height: 88.3vh;
}
.main-footer {
  transition: margin-left 0.3s ease;
}
@media (min-width: 1200px) {
  .side-content {
    margin-left: 240px;
  }
}
@media (min-width: 992px) {
  .side-header .main-logo {
    color: inherit;
    margin-right: 0;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0;
    transition: opacity 0.3s;
    line-height: 2.9rem;
    text-align: center;
  }
  .main-sidebar-hide .main-footer,
  .main-sidebar-hide .side-header {
    padding-left: 70px;
  }
  .main-body .side-header {
    position: fixed;
    width: 100%;
    z-index: 10 !important;
    border-bottom: 1px solid #e1e6f1;
    box-shadow: -7.829px 11.607px 20px 0 rgba(144, 143, 160, 0.09);
    left: 0;
    padding-left: 240px;
    top: 0;
    height: 80px;
  }
  .main-body.main-sidebar-hide .side-header {
    padding-left: 75px;
  }
  .main-sidebar-hide .sidemenu-logo {
    padding: 8px 6px 6px;
    border-bottom: 1px solid rgba(240, 240, 255, 0.1);
    justify-content: center;
    height: 65px;
  }
  .main-sidebar-hide.main-sidebar-open .sidemenu-logo {
    padding: 13.4px;
    border-bottom: 1px solid rgba(240, 240, 255, 0.1);
    justify-content: center;
  }

  .main-content.side-content {
    margin-left: 250px;
  }
  .main-sidebar.side-menu {
    width: 250px;
  }
  .main-footer {
    margin-left: 0;
    margin-bottom: -10px;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .main-header-menu-icon {
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .main-header-menu-icon {
    margin-left: 15px;
  }
  .side-header .icon-logo {
    margin-left: 0;
  }
  .main-sidebar-show .side-menu {
    top: 60px !important;
  }
}
@media (min-width: 768px) {
  .main-sidebar-hide .side-menu {
    left: 0;
    width: 80px;
    display: block;
    transform: translateX(0);
    visibility: visible;
  }
  .main-sidebar-hide .main-content.side-content {
    margin-left: 80px;
  }
  .main-sidebar-hide .main-sidebar-body .sub-txt,
  .main-sidebar-hide .nav-label {
    display: none;
  }
  .main-sidebar-body .nav-label-1 {
    height: 28px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 0;
    background: rgba(7, 167, 187, 0.24);
    width: 28px;
    border-radius: 50%;
    text-align: center;
    margin: 3px 11px;
    line-height: 2.1;
  }
  .main-sidebar-hide .nav-header {
    margin: 0;
  }
  .main-sidebar-hide.main-sidebar-open .nav-header {
    margin: 0 0 0 15px;
  }
  .main-sidebar-hide .sidemenu-label {
    display: none;
    font-size: 10px;
  }
  .main-sidebar-hide .nav-item {
    width: 100%;
  }
  .main-sidebar-hide .text-icon {
    display: none;
  }
  .main-sidebar-hide .iconbtn {
    display: block;
  }
  .main-sidebar-hide .main-sidebar-body i.angle {
    display: none;
  }
  .main-sidebar-hide .side-menu .nav-link {
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
  }
  .main-sidebar-hide .main-sidebar-body .nav-item,
  .main-sidebar-hide .main-sidebar-body .nav-item + .nav-item {
    text-align: center;
    margin: 6px 5px;
  }
  .main-sidebar-hide .side-menu .main-logo .desktop-logo {
    display: none;
  }
  .main-sidebar-hide .side-menu .main-logo .icon-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .main-sidebar-hide .side-menu .header-brand-img {
    margin-top: 0 !important;
  }
  .main-sidebar-hide .main-sidebar-body .nav-item.show > .nav-sub {
    display: none;
  }
  .main-sidebar-hide .main-footer {
    margin-left: 0;
  }
  .main-sidebar-hide .side-menu .main-sidebar-body .nav-link i {
    font-size: 20px;
  }
  .main-sidebar-hide .side-menu i.angle {
    font-size: 12px !important;
  }
  .main-sidebar-open .side-menu {
    left: 0;
    width: 240px;
  }
  .main-sidebar-open .main-sidebar-body .sub-txt,
  .main-sidebar-open .nav-label {
    display: block;
  }
  .main-sidebar-open .main-sidebar-body .nav-label {
    text-transform: uppercase;
    font-size: 11.49px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: hsla(0, 0%, 100%, 0.3);
    padding: 10px 0 0;
  }
  .main-sidebar-open .main-sidebar-body .sub-txt {
    font-size: 10.9px;
    padding: 0;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 0;
  }
  .main-sidebar-open .sidemenu-label,
  .main-sidebar-open .text-icon {
    display: block;
  }
  .main-sidebar-open .iconbtn {
    display: none;
  }
  .main-sidebar-open .main-sidebar-body i.angle {
    display: block;
  }
  .main-sidebar-open .side-menu .nav-link {
    display: flex;
  }
  .main-sidebar-open .main-sidebar-body .side-menu .nav-link {
    margin-left: 10px;
  }
  .main-sidebar-open .side-menu .nav-link {
    margin-bottom: 0;
  }
  .main-sidebar-open .sidemenu-label {
    font-size: 14px;
  }
  .main-sidebar-open .side-menu .main-logo .desktop-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .main-sidebar-open .side-menu .main-logo .icon-logo {
    display: none;
  }
  .main-sidebar-open .main-sidebar-body .nav-item.show > .nav-sub {
    display: block;
  }
  .main-sidebar-open .side-menu .nav-item.show i.angle {
    transform: rotate(90deg);
    position: absolute;
    top: 16px;
    right: 20px;
  }
  .main-sidebar-open .side-menu .main-sidebar-body .nav-link i {
    margin-right: 5px;
    font-size: 18px;
  }
  .main-sidebar-open .side-menu i.angle {
    font-size: 12px;
  }
}
.side-header,
::-ms-backdrop {
  position: relative !important;
}
.main-header
.select2-container
.select2-selection--single
.select2-selection__rEndered {
  display: block;
  padding-left: 17px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-sidebar .nav-sub-item.active .nav-sub-link {
  color: #03A1EF;
}

@media (min-width: 768px) {
  .color-leftmenu.main-sidebar-hide .side-menu .main-logo .desktop-logo {
    display: none !important;
  }
  .color-leftmenu.main-sidebar-hide .side-menu .main-logo .icon-logo {
    display: block !important;
    margin: 0 auto;
    text-align: center;
  }
  .color-leftmenu.leftmenu.main-sidebar-hide.main-sidebar-open
  .header-brand-img.icon-logo,
  .color-leftmenu.main-sidebar-hide .header-brand-img.desktop-logo.theme-logo,
  .color-leftmenu.main-sidebar-hide .header-brand-img icon-logo theme-logo,
  .leftmenu.color-leftmenu.main-sidebar-hide
  .header-brand-img.icon-logo.theme-logo {
    display: none !important;
  }
  .color-leftmenu.leftmenu.main-sidebar-hide.main-sidebar-open
  .header-brand-img.icon-logo.theme-logo {
    display: block !important;
    display: none !important;
  }
  .color-leftmenu.main-sidebar-hide.main-sidebar-open
  .side-menu
  .main-logo
  .desktop-logo {
    display: block !important;
  }
  .color-leftmenu.main-sidebar-hide.main-sidebar-open
  .main-logo
  .header-brand-img.desktop-logo.theme-logo,
  .light-leftmenu.leftmenu .header-brand-img.desktop-logo {
    display: none !important;
  }
  .light-leftmenu.leftmenu .header-brand-img.desktop-logo.theme-logo {
    display: block !important;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.desktop-logo,
  .leftmenu.light-leftmenu.main-sidebar-hide
  .header-brand-img.desktop-logo.theme-logo,
  .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.icon-logo {
    display: none !important;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide.dark-theme
  .header-brand-img.icon-logo.theme-logo,
  .leftmenu.light-leftmenu.main-sidebar-hide
  .header-brand-img.icon-logo.theme-logo {
    display: block !important;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide.dark-theme
  .header-brand-img.desktop-logo.theme-logo {
    display: none !important;
  }
  .light-leftmenu.leftmenu.main-sidebar-open
  .header-brand-img.desktop-logo.theme-logo {
    display: block !important;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open
  .header-brand-img.icon-logo.theme-logo {
    display: none !important;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open
  .main-sidebar-body
  .nav-label {
    color: #c8c4db;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open
  .main-sidebar-body
  .sub-txt {
    color: #a2a2b9;
  }
  .leftmenu.light-leftmenu.main-sidebar-hide .sidemenu-logo {
    border-bottom: 1px solid #f0f0ff;
  }
}
.main-sidebar-sticky {
  background: #fff;
}
.main-sidebar-body li.nav-item.active .nav-link {
  background-color: #EAEDF7;
}
.main-sidebar-body .nav-item.active .nav-link:after,
.main-sidebar-body .nav-item.active .nav-link:before {
  border-right: 20px solid #ffffff;
}
.main-sidebar-body .nav-item.active .nav-link .shape1,
.main-sidebar-body .nav-item.active .nav-link .shape2 {
  background: #eaedf7;
}
.main-sidebar {
  transition: left 0.4s ease, width 0.4s ease;
}
